:root {
    box-sizing: border-box;

    --font-sans-serif: CabinVariable;

    --primary: var(--red-500);
    --secondary: var(--gold-500);

    --blue-100: #b9d0ff;
    --blue-300: #5d7cf9;
    --blue-500: #4b5be4;
    // --blue-700: hsla(234, 77, 44, 1);
    // --blue-900: hsla(234, 100, 21, 1);
    // --cyan-100: hsla(178, 100, 81, 1);
    // --cyan-300: hsla(178, 69, 56, 1);
    // --cyan-500: hsla(178, 86, 33, 1);
    // --cyan-700: hsla(180, 98, 26, 1);
    // --cyan-900: hsla(186, 100, 10, 1);
    // --yellow-100: hsla(50, 100, 80, 1);
    // --yellow-300: hsla(48, 76, 66, 1);
    // --yellow-500: hsla(46, 65, 52, 1);
    // --yellow-700: hsla(36, 63, 41, 1);
    // --yellow-900: hsla(34, 100, 17, 1);
    // --green-100: hsla(133, 100, 79, 1);
    // --green-300: hsla(130, 53, 57, 1);
    // --green-500: hsla(126, 86, 31, 1);
    // --green-700: hsla(122, 99, 21, 1);
    // --green-900: hsla(120, 100, 13, 1);
    // --gray-100: hsla(60, 8, 95, 1);
    // --gray-200: hsla(60, 10, 91, 1);
    --gray-300: #cacac1;
    // --gray-400: hsla(60, 5, 68, 1);
    // --gray-500: hsla(60, 4, 55, 1);
    // --gray-600: hsla(60, 4, 42, 1);
    --gray-700: #58584b;
    // --gray-800: hsl(60, 12, 23);
    --gray-900: #16160d;
    // --red-100: hsla(350, 100, 88, 1);
    // --red-200: hsla(353, 97, 81, 1);
    // --red-300: hsla(356, 97, 75, 1);
    // --red-400: hsla(356, 95, 68, 1);
    --red-500: #c92527;
    // --red-600: hsla(359, 88, 35, 1);
    // --red-700: hsla(359, 100, 29, 1);
    // --red-800: hsla(360, 100, 21, 1);
    // --red-900: hsla(358, 100, 15, 1);
    // --gold-100: hsla(60, 100, 82, 1);
    // --gold-300: hsla(60, 85, 64, 1);
    --gold-500: #d4af37;
    // --gold-700: hsla(50, 89, 33, 1);
    // --gold-900: hsla(44, 100, 21, 1);
}
