.postPreview {
    --border-radius: 4px;

    background-color: var(--gray-100);
    /* box-shadow: var(--box-shadow-100); */

    border-radius: var(--border-radius);
}

.link {
    color: inherit;
}

.image {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.lowerCard {
    padding: 0 1rem 0.5rem;
}

.title {
    font-size: 2rem;
    letter-spacing: -0.06rem;

    margin: 0;
}

.date {
    color: rgb(75, 73, 73);

    margin: 0;
}
