.header {
    padding: 1.5rem 4rem;
}

.navbar {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.navLink {
    font-size: 1.5rem;
    color: var(--gray-800);
}

.activeNavLink {
    border-bottom: 4px solid #d4af37;
}
