.header {
    padding: 1.5rem 4rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.navLink {
    font-size: 1.5rem;
    color: var(--gray-800);
}
.navLink:hover {
    opacity: 0.8;
    text-decoration: none;
}

.activeNavLink {
    border-bottom: 4px solid var(--secondary);
}

.hideHamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0;
    }

    .mobileBackground {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .isActive .mobileBackground {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;

        background-color: #b2b1b9;
    }

    .navbar {
        display: none;

        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .isActive .navbar {
        display: flex;
    }

    /* 
Thanks to mattvox for the the hamburger css.
hamburger css taken from react-css-burger <https://github.com/mattvox/react-css-burger>.
*/
    .hamburger {
        transform: scale(1);
        padding: 4px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        overflow: visible;
        outline: none;
        box-sizing: border-box;
        align-self: flex-end;
    }

    .hamburger:hover {
        opacity: 0.8;
    }

    .hamburgerBox {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburgerInner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburgerInner,
    .hamburgerInner::before,
    .hamburgerInner::after {
        width: 40px;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburgerInner::before,
    .hamburgerInner::after {
        content: "";
        display: block;
    }

    .hamburgerInner::before {
        top: -10px;
    }

    .hamburgerInner::after {
        bottom: -10px;
    }

    .hamburgerInner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburgerInner::before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    .hamburgerInner::after {
        transition: bottom 0.075s 0.12s ease,
            transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .isActive .hamburgerInner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .isActive .hamburgerInner::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    .isActive .hamburgerInner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease,
            transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
