.navContainer {
    justify-self: flex-end;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.navLink {
    font-size: 1.5rem;
    color: var(--gray-800);
}
.navLink:hover {
    opacity: 0.8;
    text-decoration: none;
}

.activeNavLink {
    border-bottom: 4px solid var(--secondary);
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;

        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    :global(.mobileMenuIsOpen) .navbar {
        display: flex;
    }
}
