.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    padding: 1.5rem 2rem;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;

        padding: 1rem;
    }

    :global(.mobileMenuIsOpen).header {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        overflow: auto;

        background-color: #b2b1b9;
    }
}
